* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: #c15959;
    font-family: Roboto, Arial, sans-serif;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }
  
  h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
  }
  
  form {
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: darkslateblue;
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #c15959;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #c15959;
  }
  
  form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #c15959;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }

  /*Aparição do from*/
form {
  animation-name: fade;
  animation-duration: 500ms;
}
  @keyframes fade {
    from{
      opacity: 0;
      transform: scale(0.9);
    }to{
      opacity: 1;
      transform: scale(1);
    }
  }
  form .input-block:nth-child(1){
    animation: move 400ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;

  }
  form .input-block:nth-child(2){
    animation: move 400ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
  }
  form .btn-login {
    animation: move 500ms;
    animation-delay: 170ms;
    animation-fill-mode: backwards;

  }
    @keyframes move {
      from{
        opacity: 0;
        transform: translateX(-35%);
      }to{
        opacity: 1;
        transform: translateY(0);
      }
    }

  /* Quando clicar no botão sumir, com o form*/
  .form-hide {
    animation: down 600ms forwards;
    animation-timing-function: cubic-bezier(0, 1.2, 0.6, 0.2);
  }
  
  @keyframes down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100vh);
    }
  }